<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>angular</title>
    <script type="text/javascript" src="http://s.zys.me/js/jq/jquery.js"></script>
    <script type="text/javascript" src="http://s.zys.me/js/ng/angular.js"></script>

</head>
<body>
<div ng-controller="TestCtrl">
    <p ng-click="click($event)">点击</p>
    <p ng-click="click($event.target)">点击</p>
</div>

<script type="text/javascript">
    angular.module('app', [], angular.noop)
            .controller('TestCtrl', function ($scope) {
            });
    angular.bootstrap(document.documentElement, ['app']);
</script>

</body>
</html>

<!--事件绑定是模板指令中很好用的一部分。我们可以把相关事件的处理函数直接写在 DOM 中，这样做的最大好处就是可以从 DOM 结构上看出业务处理的形式，你知道当你点击这个节点时哪个函数被执行了。-->

<!--ng-change-->
<!--ng-click-->
<!--ng-dblclick-->
<!--ng-mousedown-->
<!--ng-mouseenter-->
<!--ng-mouseleave-->
<!--ng-mousemove-->
<!--ng-mouseover-->
<!--ng-mouseup-->
<!--ng-submit-->
<!--对于事件对象本身，在函数调用时可以直接使用 $event 进行传递-->